$white: #fff;
$black: #000;
$transperant_gray: hsla(0, 0%, 100%, 0.8);

$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.3);
$blue_shadow: rgba(89, 124, 201, 0.2);
$darker_shadow: #000000b3;

$violet: hsl(257, 40%, 49%);
$soft_magenta: hsl(300, 69%, 71%);
$magenta: hsl(320, 95%, 66%);
